.card-text {
    color: #555;
    margin: 10px 0;
}
.finalize-button {
    font-size: 1.5rem;
    background-color: #007BFF;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 3rem;

}

.finalize-button:hover {
    background-color: #0056b3;
}
