.btn-wpp {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    background-color: green; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem; 
    right: 3rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-wpp a {
    color: white;
    text-decoration: none; 
}
svg {
    width:  2.5rem; 
    height: 2.5rem;
}
.btn-wpp:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}